
{% block body %}
<div style="display: flex;">
    <figure>
        <img src="../images/login.gif"  loading="lazy" alt="offer products">
    </figure>
    <div class="col-md-6" style="flex: 1;">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn" type="submit">
              login
            </button>

            <a href="/reset-password">Forgot your password ?</a>

            <div style="display: flex; justify-content: flex-end;">
                <a href="{{ path('app_register') }}" class="btn1 btn-lg btn-secondary">Register</a>
            </div>
        </form>
    </div>
</div>
<style>
    /* Couleur de fond */
    body {
        background-color: white;
    }

    /* Style pour les champs de formulaire */
    input, select {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 50px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style pour le label */
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* Style de bouton */
    .btn {
        background-color: black;
        color: white;
        border: none;
        padding: 20px 40px;
        font-size: 20px;
    }
     .btn1 {
        background-color: #bd0d0d;
        color: white;
        border: none;
        padding: 20px 40px;
        font-size: 20px;
    }

    /* Style pour le titre */
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    /* Style pour les messages d'erreur */
    .alert {
        background-color: #f2dede;
        color: #a94442;
        border: 1px solid #ebccd1;
        padding: 10px;
        margin-bottom: 20px;
    }

    /* Style pour l'image */
    .img {
      max-width: 100%;
      height: auto;
    }

    /* Style pour le formulaire */
    .col-md-6 {
      width: 20%;
      padding: 20px;
      background-color: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
     .col-md-7 {
      width: 50%;
      padding: 50px;
      background-color: white;
       margin-bottom: 30px;
       margin-left: 200px;
    }
  </style>

{% endblock %}

