{% block body %}
  <div style="display: flex;">
    <figure>
      <img src="../images/Crochet.gif"  loading="lazy" alt="offer products">
    </figure>
    <div class="col-md-6" style="flex: 1;">
      {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
      {% endfor %}
      <h1>Register</h1>
      <div class="form">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
          }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
  <style>
    /* Couleur de fond */
    body {
      background-color: white;
    }

    /* Style pour les champs de formulaire */
    input, select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 50px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    /* Style pour le label */
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    /* Style de bouton */
    .btn {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      cursor: pointer;
    }

    /* Style pour le titre */
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 50px;
      
    }

    /* Style pour les messages d'erreur */
    .alert {
      background-color: #f2dede;
      color: #a94442;
      border: 1px solid #ebccd1;
      padding: 10px;
      margin-bottom: 20px;
    }

    /* Style pour l'image */
    .img {
      max-width: 100%;
      height: auto;
    }

    /* Style pour le formulaire */
    .col-md-6 {
      width: 100%;
      padding: 50px;
      margin-bottom: 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  </style>
{% endblock %}
